<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beta.tacademy.hellomoneycustomer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.HelloMoneyCustomerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.beta.tacademy.hellomoneycustomer.module.HelloMoneyCustomerGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RequestQuotationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyQuotationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuotationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OperationGuideActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PostscriptDetailActivity"></activity>
    </application>

</manifest>